<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<form method="post" action="/articles/<%= @article.id %>">
    <input type="hidden" name="_method" value="patch">
    <label for="title">Title: </label> <input type="text" id="title" name="article[title]" value="<%= @article.title %>"></br>
    <label for="content">Content: </lable> <input type="textarea" id="content" name="article[content]" value="<%= @article.content %>"></br>
    <input type="submit" value="Submit">
</form>